<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>740449566579-vv0hmudvmqflsoujeq2baka03l2uatfv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.740449566579-vv0hmudvmqflsoujeq2baka03l2uatfv</string>
	<key>API_KEY</key>
	<string>AIzaSyBwQD7KWnnsNL4Zj0-kHM4GLJy8Adm8Llo</string>
	<key>GCM_SENDER_ID</key>
	<string>740449566579</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Ridhima-Morampudi.ReceiptLogger4-0</string>
	<key>PROJECT_ID</key>
	<string>swiftuiauth4</string>
	<key>STORAGE_BUCKET</key>
	<string>swiftuiauth4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:740449566579:ios:92d5f38ebc469df4288f06</string>
</dict>
</plist>